body{
    font-family: Barlow Semi Condensed ,sans-serif;
    color:very dark grayish blue hsl(217,19%,35%);
    font: 13px;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fix),minmax(300px 1fr);
    padding: 20px;
    gap: 20px;
}
.grid1{
    background-color:hsl(263, 81%, 41%) ;
    padding: 30px;

}
.grid2
